{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/component/card.scss') }}">
{% endblock %}

<div class="card h-100 shadow-xl">
    <div class="card-body">
        <div class="row justify-content-between">
            <div class="col-8">
                <h5 class="card-title text-start">{{ name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted text-start">{{ author }}</h6>
            </div>
            <div class="col-4 text-end">
                {% set statusColors = status | statusClass %}
                <span class="badge" style="background-color: {{ statusColors.bg }}; color: {{ statusColors.fg }}">{{ status }}</span>
            </div>
        </div>
        <div class="py-3">
            <p class="card-text">
                <strong>Total Files:</strong> {{ total_files }}
            </p>
            <p class="card-text">
                <strong>Tags:</strong>
                {% for tag in tags %}
                    <span class="badge" style="background-color: {{ tag.color_bg }}; color: {{ tag.color_fg }}">{{ tag.title }}</span>
                {% endfor %}
            </p>
            <p class="card-text">
                <strong>Shared To:</strong>
                {% for group in shared_to %}
                    <span class="badge" style="background-color: {{ group.color_bg }}; color: {{ group.color_fg }}">{{ group.title }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-outline-primary btn-sm me-1" onclick="window.location.href='{{ path('document_detail') }}'" data-action="document#openEditModal">Edit</button>
        <button class="btn btn-outline-danger btn-sm" data-action="document#deleteDocument">Delete</button>
    </div>
</div>